<div id="widget" class="sticky sticky-desktop">
  <div>
    <h1>
      Hot Stuff <img class="smiley" src={{ "smileys/coolpeace.gif" | prepend: site.imageurl }} />
    </h1>
  </div>

  <!-- SWAMP COVER -->
  <div>
    <p class="center large-text">SWAMP COVER!</p>
    <audio controls>
      <source src={{ "believer.mp3" | prepend: site.audiourl }} type="audio/mp3" />
      <p>upgrade your browser bruh.</p>
    </audio>
  </div>

  <!-- gay -->
  <div>
    <p>
      if you are reading this: you are GAY!! <img class="smiley" src={{ "smileys/devil.gif" | prepend: site.imageurl }} />
    </p>
  </div>
  
  <!-- Counting machine -->
  <div>
    <p class="center large-text">Counting Machine</p>
    <p class="center">
      <button id="machine-plus">+</button>
      <button id="machine-minus">−</button>
      <button id="machine-double">X2</button>
    <p>
      <span
      id="machine-count"
      class="center large-text counter">
        0
      </span>
      <img id="negative-number" class="hidden smiley" src={{ "smileys/crazy.gif" | prepend: site.imageurl }} />
    </p>
    <p>
      <p>MY SCORE:</p>
      <span
      id="top-count"
      class="center large-text counter">
        0
      </span>
    </p>
  </div>

  <!-- Meow! -->
  <div>
    <img src="{{ "meow.gif" | prepend: site.imageurl }}" alt="MEOW" />
  </div>
</div>