@mixin containers ()
{
    border: 1px solid $shine;
    border-radius: $container-shape;
    padding: 1rem;

    @media (max-width: $mobile-width) {
        border: none;
    }
}

@mixin red-coat ()
{
    box-shadow: 0 0rem 1rem $primary;
    outline: 1px solid $primary;

    background:
        $background
        linear-gradient(
            $primary -2rem,
            $transparent 5rem
        );
}

@mixin metal-coat ()
{
    background:
        $background
        linear-gradient(-90deg, $background, 
            $reflection 0%,
            $shine 0.25rem,
            $transparent 1rem,
            $background 90%,
            $reflection 100%
        );

    @media (max-width: $mobile-width) {
        background: $background;
    }
}