@mixin containers ()
{
    border: 1px solid $shine;
    border-radius: 0.5rem 2rem;
    padding: 1rem;
    
    background-color: $container-background;

    @media (max-width: $mobile-width) {
        border: none;
    }
}

@mixin red-coat ()
{
    box-shadow: 0 0rem 1rem $primary;
    outline: 1px solid $primary;

    background: linear-gradient(
        $primary -1rem,
        $background 100%
        );
}

@mixin metal-coat ()
{
    background:
        linear-gradient(90deg, $background, 
        $reflection 0%,
        $shine 1rem,
        $transparent 2rem,
        $reflection 100%
        ),
        $background;
}