body {
  margin: 2rem auto;
  width: 100%;
  max-width: $site-width;

  color: $foreground;
  background-color: $background;

  font-family: Arial, sans-serif;
}

a {
  color: $foreground;

  &:hover {
    color: $primary;
  }
}

img {
  max-width: 100%;
}

audio {
  $audio-padding: $widget-width - $container-gap;
  width: $audio-padding - $container-gap ;
  height: 2rem;
}

/* Content containers */
#containers {
  display: flex;
  justify-content: center;
  gap: $container-gap;

  @media (max-width: $mobile-width) {
    flex-flow: column;
    align-items: center;
  }
}

/* Header */
#header {
  display: flex;
  flex-flow: column nowrap;

  @media (max-width: $mobile-width) {
    flex-flow: row wrap;
  }

  /* Navigation block */
  a {
    margin: 0;
    padding: 1rem 0.5rem;

    font-family: $header-font;
    font-size: 1.5rem;
    color: $foreground;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  .selected {
    color: $primary;
  }
}

#content {  
  @include containers;

  flex: auto;
}

#widget {
  width: $widget-width;

  div {
    @include red-coat;
    padding: 0.1rem 1rem;
  }
}

/* Reusable classes */
.center {
  text-align: center;
}

.emoticon {
  display: inline !important;
}

.large-text {
  font-family: $header-font;
  font-size: $font-size + 0.5rem;
  font-weight: bolder;
  filter: drop-shadow(0 0 0.2rem $background);
}