body {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;

  color: $foreground;
  background-color: $background;

  font-family: Arial, sans-serif;
}

a {
  color: $foreground;

  &:hover {
    color: $primary;
  }
}

audio {
  width: 100%;
  height: 2rem;
}

/* Header */
#header {
  @include red-coat;

  margin: 1rem 0;
  padding: $container-gap;
  /* Navigation block */
  a {
    padding: 1rem;

    font-family: $header-font;
    font-size: 1.5rem;
    color: $foreground;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  .selected {
    color: $primary;
  }  
}

/* Content container */
#container {  
  @include container;

  box-shadow: 0 0rem 1rem $primary;
}

/* Reusable classes */
.center {
  text-align: center;
}