// Fonts
$header-font: 'OldStandardTT-Bold';

$font-size: 1rem;

// Colours
$foreground: #fff;
$background: #000;

$primary: #ff0020;

$transparent: rgba(0, 0, 0, 0);

$shine: rgba(255, 255, 255, 0.5);
$reflection: rgba(255,255,255, 0.2);

// Distances
$site-width: 900px;
$mobile-width: $site-width - 0.5px;

$container-gap: 1rem;
$widget-width: 15rem;