---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page information -->
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="icon"
      type="image/png"
      href={{ "/favicon.ico" | prepend: site.baseurl }}>

    <!-- Meta Tags -->
    <meta property="og:url" content="{{ site.baseurl | prepend: site.github }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }} - {{ page.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ page.image  | prepend: site.imageurl | prepend: site.github }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ site.github }}">
    <meta property="twitter:url" content="{{ site.baseurl | prepend: site.github }}">
    <meta name="twitter:title" content="{{ site.title }} - {{ page.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ page.image  | prepend: site.imageurl | prepend: site.github }}">

    <!-- Assets -->
    <link rel="stylesheet" href={{ "/assets/css/main.css" | prepend: site.baseurl }}>
    <script src={{ "/assets/js/jquery-3.6.2.min.js" | prepend: site.baseurl }}></script>

    <!-- Keep files up to date for cache-->
    {% assign time = 'now' | date: "%s" %}

    <script src={{ "/assets/js/header.js?" | prepend: site.baseurl | append: time}}></script>
    <script src={{ "/assets/js/widget.js?" | prepend: site.baseurl | append: time }}></script>
  </head>
  <body>
    {% include header.html %}
    <div id="containers">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>